body { 
background-color: rgb(148, 7, 7);
background-repeat: no-repeat;
font-family: 'Times New Roman', Times, serif;
color:rgb(148, 7, 7);
font-size: 16px;
text-align: center;
}
audio{
    height:30px;
    float: left;
}

.form-group{
    margin:6px;  
}
label{
    font-family: sans-serif;
    color:whitesmoke;
    background-color:rgb(148, 7, 7);
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
}
.panel panel-info{
    margin-left:50px;
}
.panel-body{
    width:80%;
    margin-left: 50px;
    padding:5px;
}
.form-control {
    border: 2px solid rgb(148, 7, 7);
}
.table-responsive{
    background-color:rgba(233, 193, 92, 0.92);
}
.panel {
    background-image: url("../images/ticket.jpeg");
    width: 45%;
    text-align: center;
    margin-left: 792px;
}
.panel-info>.panel-heading{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(148, 7, 7);
    color: rgba(233, 193, 92, 0.92);
    border-color:rgb(148, 7, 7);
}
.panel-title{
    font-size: 20px;
}
.panel-info{
    border: solid 5pxrgb(148, 7, 7);
    margin-top:0px;
    margin-bottom:0px;
}
.btn-primary {
    background-color:rgb(148, 7, 7);
    border-color:rgb(148, 7, 7);
}
.btn-primary:hover {
    background-color:goldenrod;
    border-color:goldenrod;
}
.panel-footer{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(233, 193, 92, 0.92);
    background-color: rgb(148, 7, 7);
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(233, 193, 92, 0.92);
    background-color: rgb(148, 7, 7);
    font-size:14px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color:rgba(233, 193, 92, 0.92);
    background-color: rgb(148, 7, 7);
    font-size: 34px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: bold;
    text-align: center;
}

header{
    padding:5px;
    background-color:rgb(148, 7, 7);
}

.outOfTime {
    color: rgb(245, 35, 35);
}